<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
<insert id="save" parameterType="member">
    insert into member_table(memberName,memberLoginID,memberPassword,memberMobile,memberAge,postcode,roadAddress,jibunAddress,detailAddress,fileAttached)
    values (#{memberName},#{memberLoginID},#{memberPassword},#{memberMobile},#{memberAge},#{postcode},#{roadAddress},#{jibunAddress},#{detailAddress},#{fileAttached})
</insert>
    <select id="joinCheck" parameterType="String" resultType="String">
        select memberLoginID from member_tabel where memberLoginID=#{memberLoginID}
    </select>

    <select id="login" parameterType="member" resultType="member">
        select * from member_table where memberLoginID=#{memberLoginID} and memberPassword=#{memberPassword}
    </select>

    <select id="memberList" resultType="member">
        select * from member_table
    </select>

    <select id="findById" parameterType="String" resultType="member">
        select * from member_table where memberLoginID=#{memberLoginID}
    </select>

    <update id="modify" parameterType="member">
        update member_table set memberMobile=#{memberMobile} ,memberAge=#{memberAge}, postcode=#{postcode}, roadAddress=#{roadAddress} ,jibunAddress=#{jibunAddress}, detailAddress=#{detailAddress}, fileAttached=#{fileAttached}
    </update>

  <select id="findAll" resultType="member">
      select * from member_table
  </select>
</mapper>








